/*页眉的内填充*/
.header {
    height: 100px;
    background-color: #1f4e8c;
}

/*顶部选项总体*/
.top-item a {
    color: #ffffff;
    line-height: 40px;
}

/*顶部选项的li宽*/
.top-item li {
    width: 100px;
    text-align: center;
margin-top: 30px;
    color: white;
}

/*顶部选项竖线  |  的宽度*/
.top-item .li-split {
    width: 10px;
}

/*搜索文本框宽度*/
#search {
    width: 300px;
}

/*顶部导航条*/
.top-nav {
    background-color: #F2F2F2;
    height: 50px;
    padding-top: 6px;
    margin-bottom: 20px;
}

/*管理下拉框样式*/
#top-dropdown-btn {
    color: #ffffff;
}

/*管理下拉框li*/
.top-dropdown-ul li {
    width: 100%;
}