<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ScoreMapper">

    <resultMap id="scoreEntityMap" type="com.example.demo.entity.Score">
        <id column="id" property="id"></id>
    </resultMap>

    <insert id="findAdd" useGeneratedKeys="true" keyProperty="id">

        INSERT INTO t_s
        ( sporter,ssex,xm,score,ti,ran)
        VALUES (#{sporter},#{ssex},#{xm},#{score},#{ti},#{ran})

    </insert>


    <select id="findBySportName" resultMap="scoreEntityMap">
        SELECT * FROM t_s WHERE sporter = #{sporter}
    </select>

    <select id="findAll" resultMap="scoreEntityMap">
        SELECT * FROM t_s
    </select>

</mapper>